/*header-container style*/
.header-container {
  background-color: rgb(238, 238, 245);
  margin: 0px;
  line-height: 20px;
}

/*header title style*/
.header-title {
  margin: 0px;
  padding-top: 15px;
  color: rgb(122, 7, 122);
  text-shadow: -1px 0 rgb(196, 192, 192), 0 2px rgb(226, 214, 214), 2px 0 rgb(218, 215, 215), 0 -1px rgb(224, 217, 217);
}

/*header info style*/
.header-info {
  color: blueviolet;
  text-shadow: -1px 0 rgb(196, 192, 192), 0 1px rgb(226, 214, 214), 1px 0 rgb(218, 215, 215), 0 -1px rgb(224, 217, 217);
}

/*header budget style*/
.header-budget {
  padding-bottom: 5px;
}

/*customized color styling*/
.highlighted-color {
  color: darkmagenta;
  text-shadow: -1px 0 rgb(196, 192, 192), 0 2px rgb(226, 214, 214), 2px 0 rgb(218, 215, 215), 0 -1px rgb(224, 217, 217);
}

/*navigation bar style*/
.header-container nav {
  background-color: rgb(61, 35, 80);
  line-height: 40px;
}

/*nav bar anchor style*/
.header-container nav a {
  text-decoration: none;
  color: white;
  padding: 5px;
  font-size: 15px;
  margin-right: 50px;
}

/*navbar anchor style when hover*/
.header-container nav a:hover {
  background-color: lightgray;
  color: black;
}
